force-app/main/default/flows/Event_Speaker_checker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Checking_the_condition</name>
        <label>Checking the condition</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Traversing_the_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>1 AND((2 AND 3) OR(4 AND 5) OR(6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Speaker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Traversing_the_record.Speaker__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.Start__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Traversing_the_record.Event__r.Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.Start__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Traversing_the_record.Event__r.End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.End__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Traversing_the_record.Event__r.Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.End__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Traversing_the_record.Event__r.End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.Start__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Traversing_the_record.Event__r.Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event__r.End__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Traversing_the_record.Event__r.End__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_is_Duplicate</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_not_null</name>
        <label>Data not null</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Event_Speaker_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Traversing_the_record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event Speaker checker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Speaker checker</label>
    <loops>
        <name>Traversing_the_record</name>
        <label>Traversing the record</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>Event_Speaker_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_the_condition</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Event_Speaker_record</name>
        <label>Event Speaker record</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Speaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Speaker__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Speaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_is_Duplicate</name>
        <label>Change is Duplicate</label>
        <locationX>138</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Traversing_the_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Duplicate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Speaker_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Speaker__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event_Speaker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
